SHOPIFY_APP_URL=https://store.kg2pgems.in
SHOPIFY_API_KEY=73b7a6dc3857140651405b808ec2c878
SHOPIFY_API_SECRET=1a50617fa94e59ac4b7a4aaed1f37297
SHOPIFY_BS_SLIDEIN_STICKY_OFFER_BANNER_ID=7f4bf446-756d-4801-902f-4295ecd8ce46
SCOPES=read_files,read_themes,write_files,write_products,write_themes